################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Repos/v16
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/ShapeApp/.vs/ShapeApp/v16
